@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}

.title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    font-size: 30px;
}

input {
    display: block;
    width: 20rem;
    height: 2rem;
    box-sizing: border-box;
    margin: 10px 10px 0 0;
}

input[type='submit'], table {
    margin-top: 2rem;
}

table {
    width: 40rem;
}

.thtitle {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.skis {
    font-size: 14px;
}

.skiForm {
    margin-bottom: 20px;
}

a:link, a:visited {
    background-color: white;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
    width: 60px;
    font-size: 12px;
}

a:hover, a:active {
    background-color: green;
    color: white;
    border-radius: 20px;
    width: 60px;
    font-size: 12px;
}

.flex {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}